<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset={+IO.encoding+}" />
		<meta name="generator" content="JsDoc Toolkit" />
		<title>CloudMine - Javascript Library Documentation</title>
    <link rel="stylesheet" href="assets/cloudmine.css" />
		<style type="text/css">
		  {+include("static/default.css")+}
		</style>
	</head>
	<body>
    <header>
      <a href='http://cloudmine.me'>
        <div id='header-logo'>
          <div id='logo-container'></div>
        </div>
      </a>
      <nav id='top-nav'>
        <ul>
          <li>{+new Link().toFile("index.html").withText("Classes")+}</li>
          <li> {+new Link().toFile("files.html").withText("Files")+}</li>
        </ul>
      </nav>
      <h2 id='secondary-nav'>
        JavaScript Library Documentation
      </h2>
    </header>
    <div class="page-content">
      <nav>
			  {+publish.classesIndex+}
      </nav>
      <section class="content">
        <h1 class="classTitle">Class Index</h1>
			  <for each="thisClass" in="data">
			    <div>
				    <h2>{+(new Link().toSymbol(thisClass.alias))+}</h2>
				    {+resolveLinks(summarize(thisClass.classDesc))+}
			    </div>
			    <hr />
			  </for>
        <div class="clear"></div>
      </section>
    </div>
    <footer>
      <if test="JSDOC.opt.D.copyright"><h1>Copyright &copy;{+JSDOC.opt.D.copyright+}</h1></if>
			<div>Documentation generated by <a href="http://code.google.com/p/jsdoc-toolkit/" target="_blankt">JsDoc Toolkit</a> {+JSDOC.VERSION+} on {+new Date()+}</div>
    </footer>
	</body>
</html>
