<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset={+IO.encoding+}" />
		<meta name="generator" content="JsDoc Toolkit" />
    {! Link.base = ""; /* all generated links will be relative to this */ !}
		<title>CloudMine - Javascript Library Documentation</title>
    <link rel="stylesheet" href="assets/cloudmine.css" />
		<style type="text/css">
		  {+include("static/default.css")+}
		</style>
	</head>
	<body>
    <header>
      <a href='http://cloudmine.me'>
        <div id='header-logo'>
          <div id='logo-container'></div>
        </div>
      </a>
      <nav id='top-nav'>
        <ul>
          <li>{+new Link().toFile("index.html").withText("Classes")+}</li>
          <li> {+new Link().toFile("files.html").withText("Files")+}</li>
        </ul>
      </nav>
      <h2 id='secondary-nav'>
        JavaScript Library Documentation
      </h2>
    </header>
    <div class="page-content">
      <nav>
			  {+publish.classesIndex+}
      </nav>
      <section class="content">
        <header>
          <h1 class="classTitle">List of JavaScript Classes</h1>
        </header>
        <table class="cloudmine-table">
          <thead>
            <tr>
              <th width=200>Name</th>
              <th>Description</th>
            </tr>
          </thead>
			    <for each="thisClass" in="data">
            <if test="thisClass.alias != '_global_'">
			        <tr>
                <td>{+(new Link().toSymbol(thisClass.alias))+}</td>
				        <td>{+resolveLinks(summarize(thisClass.classDesc))+}</td>
              </tr>
            </if>
			    </for>
        </table>
        <div class="clear"></div>
      </section>
    </div>
    <footer>
      <if test="JSDOC.opt.D.copyright"><h1>Copyright &copy;{+JSDOC.opt.D.copyright+}</h1></if>
			<div>Documentation generated by <a href="http://code.google.com/p/jsdoc-toolkit/" target="_blankt">JsDoc Toolkit</a> {+JSDOC.VERSION+} on {+new Date()+}</div>
    </footer>
	</body>
</html>
